body{
    background-color: burlywood;
}

header{
    background-color: blue;
}

header h1{
    text-align: center;
}

h2{
    text-align: center;
}

main{
    background-color: cadetblue;
    display: flex;
}

article{
    flex: 4;
}

section{
  border: 5px solid black;
  position: 
}

aside{
    background-color: chocolate;
    margin-left: 10px;
    flex: 1;
    padding: 1%;
}